@using Microsoft.AspNetCore.Identity﻿
@model Nemesys.ViewModels.ReportViewModel
@inject UserManager<IdentityUser> UserManager

<h1>@Model.Type at  @Model.Location</h1>
<div class="card" style="width: 90%;padding:20px; margin:20px;">
    <img class="card-img-top" src="@Model.PhotoUrl" alt="Image for @Model.Type" />
    <div class="card-body">
        <h3 class="card-title">Hazard Type: @Model.Type</h3>
        <p class="card-text">@Model.Description</p>
        <p class="small">Hazard Found on: @Model.HazardDate.ToShortDateString()</p>
        <p class="small">Submitted By @Model.User.UserName on @Model.ReportDate.ToShortDateString()</p>
    </div>
</div>

<div>
    @if (User.IsInRole("Admin") || User.IsInRole("Investigator"))
    {
        <a asp-controller="Reports" asp-action="Index" class="btn btn-primary">Back to list</a>
        <a asp-controller="Investigator" asp-action="Investigate" asp-route-id="@Model.Id" class="btn btn-primary">Investigate</a>
        @if (User.Identity.IsAuthenticated && UserManager.GetUserAsync(User).Result.Id == Model.User.Id)
        {<a asp-controller="Reports" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>}
    }
</div>


