@model Nemesys.ViewModels.ReportListViewModel

@{
    ViewData["Title"] = "Reports";
}

<h1 class="header-title create-title">@ViewData["Title"]</h1>

<div class="row">
    @foreach (var report in Model.Reports)
    {
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">@report.Description</h3>
            <p class="small">@report.ReportDate.ToShortDateString() by @report.User.UserName</p>
        </div>
        <a asp-controller="Reports" asp-action="Details" asp-route-id="@report.Id" class="btn btn-primary">Details</a>
        
    </div>
    }
</div>