@model Nemesys.ViewModels.NewInvestigationViewModel

@{
    ViewData["Title"] = "Investigate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/details.css" type="text/css" />
<h1 class="create-title header-title">New Investigation</h1>
<h2 class="subheader">
    Created By @Model.Report.User.UserName on @Model.Report.ReportDate.ToShortDateString()
</h2>
<div class="card">
    @if (Model.Report.PhotoUrl != " /images/reports/")
    {
        <img class="card-img-top" src="@Model.Report.PhotoUrl" alt="Image for @Model.Report.Type.Name" />
    }
    <div class="card-body">
    <h3 class="card-title">Hazard Type: @Model.Report.Type.Name</h3>
    <p class="card-text">@Model.Description</p>
    <p class="small">Hazard Found on: @Model.Report.HazardDate.ToShortDateString()</p>
    <p class="small">Status: @Model.Report.Status.Name <p>
    @if (Model.Report.User.PhoneNumber != null)
    {
        <p class="card-text">Reporter's Phone Number: @Model.Report.User.PhoneNumber</p>
    }
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Investigator" asp-action="Investigate" class="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusId" ></label>
                <div >
                    <select asp-for="StatusId"
                            asp-items="@(new SelectList(Model.StatusList,"Id","Name"))">
                        <option value="">Select a Status</option>
                    </select>
                    <span asp-validation-for="StatusId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="DateOfAction" class="control-label"></label>
                <input id="datefield" type="date" asp-for="DateOfAction" value="@DateTime.Today" max="@DateTime.Today" class="form-control" />
                <span asp-validation-for="DateOfAction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Reports" asp-action="Index" class="btn btn-primary">Back to list</a>
</div>


